.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: large;
}

.name {
    margin-left: 40px;

}

.loginbtn {
    margin-left: 100px;

}

.pic {
    max-width: 50%;
    margin-left: 70px;
}

.checkitem {
    margin-left: 50px;
}

.check {
    float: right;
    border: 1px solid black;
    width: 40%;
    margin-right: 100px;
    text-align: center;
}


@media (max-width:576px) {
    .login {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }



    .pic {
        max-width: 50%;
        margin-left: 70px;
    }

    .check {
        float: none;
        margin-left: 100px;
    }

}

@media (max-width:768px) {
    .login {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .name {
        margin-left: 50px;

    }

    .pic {
        max-width: 50%;
        margin-left: 70px;
    }
}